/* Implementação de escolhas estéticas */

* {
  margin: 2px;
  padding: 10px;
  box-sizing: border-box;
}

body {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  background-color: #b1acc9; 
  color: #201d24;
}

 /*Cor do link não visitado */
  a:link {
    color: rgb(16, 102, 68);
  }

  /*Cor do link visitado */
  a:visited {
    color: rgb(43, 2, 69);
  }

/* Menu fixo */
header {
  background: #222; 
  border-style: dotted;
  padding: 5px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: #4c847b;
  font-weight: bold;
}

.menu a:hover {
  color: rgb(237, 206, 241);
}

/* Conteúdo */
main {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

/* Rodapé */
footer {
  font-weight: lighter;
  background: #222;
  color: #b2ccc7;
  text-align: center;
  padding: 15px 0;
  margin-top: 50px;
}

/* Formulário */

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

form label {
  margin: 10px 0 5px;
  font-weight: bold;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

form button {
  margin-top: 15px;
  padding: 10px;
  background: #367e6e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #9966b2;
}


